<!DOCTYPE html>
<html>

<head>
    <title>Home Work 3</title>
    <link href="/auth/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/assets/img/logo-white.png" rel="icon">

    <meta name="keywords" content="Login , registration, forgot password " ./>
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic' rel='stylesheet' type='text/css'>
    <link href="/assets/css/errormessages.css" rel="stylesheet">
</head>

<body>
    <div class="login-03">
        <div class="three-login  hvr-float-shadow">
            <div class="three-login-head">
                <img src="/images/top-key.png" alt="" />
                <h3>New Password</h3>

            </div>
            <form method="POST" action="/auth/new-password" novalidate>


                <% if (errorMessage) { %>
                    <h3 class="user-message user-message--error animate" style="margin-bottom: 8px;">
                        <%= errorMessage %>
                    </h3>
                    <% } %>
                        <li>
                            <input type="hidden" name="userId" value="<%= userId %>">
                            <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                            <input type="password" name="password" class="text" value="" id="password" placeholder="Password">
                            <a href="#" class=" icon3 mail2"></a>
                        </li>
                        <div class="submit three">
                            <input type="submit" value="RESET">
                        </div>
            </form>
        </div>
    </div>
</body>

</html>