<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profile</title>
	<!-- bootstrap css -->

	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
		integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> 
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->



	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
		integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
		integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

	<style>
		.contact-us-form textarea {
			height: 100px;
			padding-top: 20px;
			font: inherit;
			color: inherit;
		}
	</style>
</head>

<body>
	<div class="container">
		<div class="row d-flex justify-content-center">
			<!-- PROFILE SECTION -->
			<div class="col-md-12 border border-info rounded mt-3 py-2">
				<!-- profile photo -->
				<div class="span3 well">
					<center>
						<a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img
								src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R"
								name="aboutme" width="140" height="140" class="rounded-circle"></a>
						<h3>Joe Sixpack</h3>
						<a href="/users/editProfile" class="btn btn-primary">edit profile</a>
					</center>
				</div>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore iure exercitationem nam itaque, laborum
				dolores necessitatibus voluptate non tempora, ducimus totam libero mollitia officiis expedita
				repudiandae in provident suscipit debitis?
			</div>
			<!-- SKILSS SECTION -->
			<div class="col-md-3 align-self-start border border-info rounded mt-3 py-2">
				<h1 style="text-align: center;">Skills</h1>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit nostrum hic recusandae saepe, incidunt
				nesciunt magnam ea possimus tenetur, officiis soluta! Incidunt eos doloremque numquam rem eligendi.
				Beatae possimus fugiat aut repudiandae ipsam qui minus nisi ratione nostrum. Modi molestiae deserunt
				recusandae voluptatem sunt laudantium architecto in eveniet officiis vero.
			</div>
			<!-- POSTS SECTION -->
			<div class="col-md-9 align-self-start border border-info rounded mt-3 py-2">
				<h1 style="text-align: center;">Posts</h1>
				<section class="card">
					<div class="card-header">
						<ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="posts-tab" data-toggle="tab" href="#posts" role="tab"
									aria-controls="posts" aria-selected="true">Make
									a Post</a>
							</li>
						</ul>
					</div>
					<div class="card-body">
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="posts" role="tabpanel"
								aria-labelledby="posts-tab">
								<div class="form-group">
									<label class="sr-only" for="message">post</label>
									<textarea style="resize: none;" class="form-control" id="message" rows="3"
										placeholder="What are you thinking..."></textarea>
								</div>

							</div>
						</div>
						<div class="text-right">
							<button type="submit" class="btn btn-primary">share</button>
						</div>
					</div>
				</section>
				<!--- Post Form Ends -->

				<!-- Post Begins -->
				<section class="card mt-4">
					<!-- first post -->
					<div class="border p-2">
						<!-- post header -->
						<div class="row m-0">
							<div class="">
								<a class="text-decoration-none" href="#">
									<img class=""
										src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png"
										width="50" height="50" alt="...">
								</a>
							</div>
							<div class="flex-grow-1 pl-2">
								<a class="text-decoration-none" href="#">
									<h2 class="text-capitalize h5 mb-0">Shushant Singh</h2>
								</a>
								<p class="small text-secondary m-0 mt-1">1 day ago</p>
							</div>

							<div class="dropdown">
								<a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false">
									<i class="fas fa-chevron-down"></i>
								</a>

								<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									<a class="dropdown-item text-primary" href="#">Edit</a>
									<a class="dropdown-item text-primary" href="#">Delete</a>
								</div>
							</div>
						</div>
						<!-- post body -->
						<div class="">
							<p class="my-2">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
								turpis sem, dictum id bibendum eget, malesuada ut massa. Ut scel
								erisque nulla sed luctus dapibus. Nulla sit amet mi vitae purus sol
								licitudin venenatis. Praesent et sem urna. Integer vitae lectus nis
								l. Fusce sapien ante, tristique efficitur lorem et, laoreet ornare lib
								ero. Nam fringilla leo orci. Vivamus semper quam nunc, sed ornare magna dignissim sed.
								Etiam interdum justo quis risus
								efficitur dictum. Nunc ut pulvinar quam. N
								unc mollis, est a dapibus dignissim, eros elit tempor diam, eu tempus quam felis eu
								velit.
							</p>
						</div>
						<hr class="my-1">
						<!-- post footer begins -->
						<footer class="">
							<!-- post actions -->
							<div class="">
								<ul class="list-group list-group-horizontal">
									<li class="list-group-item flex-fill text-center p-0 px-lg-2 border border-0">
										<a class="small text-decoration-none" href="#">
											<i class="far fa-thumbs-up"></i> 20 Like
										</a>
									</li>
									<li
										class="list-group-item flex-fill text-center p-0 px-lg-2 border border-right-0 border-top-0 border-bottom-0">
										<a class="small text-decoration-none" data-toggle="collapse"
											href="#collapseExample" role="button" aria-expanded="false"
											aria-controls="collapseExample">
											<i class="fas fa-comment-alt"></i> 40 Comment
										</a>
									</li>
									<li
										class="list-group-item flex-fill text-center p-0 px-lg-2 border border-right-0 border-top-0 border-bottom-0 ">
										<a class="small text-decoration-none" href="#">
											<i class="fas fa-share"></i> 90 Share
										</a>
									</li>
								</ul>
							</div>


							<!-- collapsed comments begins -->
							<div class="collapse" id="collapseExample">
								<div class="card border border-right-0 border-left-0 border-bottom-0 mt-1">
									<!-- new comment form -->
									<section class="mt-3">
										<form action="">
											<div class="input-group input-group">
												<input type="text" class="form-control" placeholder="Write Comment"
													aria-label="Recipient's username" aria-describedby="basic-addon2">
												<div class="input-group-append">
													<a class="text-decoration-none text-white btn btn-primary" href="#"
														role="button">Comment</a>
												</div>
											</div>
										</form>
									</section>
									<!-- comment card bgins -->
									<section>
										<div class="card p-2 mt-3">
											<!-- comment header -->
											<div class="d-flex">
												<div class="">
													<a class="text-decoration-none" href="#">
														<img class="profile-pic"
															src="https://cdn3.iconfinder.com/data/icons/avatars-round-flat/33/avat-01-512.png"
															width="40" height="40" alt="...">
													</a>
												</div>
												<div class="flex-grow-1 pl-2">
													<a class="text-decoration-none text-capitalize h6 m-0"
														href="#">Tarzan</a>
													<p class="small m-0 text-muted">27 mins ago</p>
												</div>
												<div>
													<div class="dropdown">
														<a class="" href="#" role="button" id="dropdownMenuLink"
															data-toggle="dropdown" aria-haspopup="true"
															aria-expanded="false">
															<i class="fas fa-chevron-down"></i>
														</a>

														<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
															<a class="dropdown-item text-primary" href="#">Edit</a>
															<a class="dropdown-item text-primary" href="#">Delete</a>
														</div>
													</div>
												</div>
											</div>
											<!-- comment header -->
											<!-- comment body -->
											<div class="card-body p-0">
												<p class="card-text h7 mb-1">Some quick example text to build on the
													card title and make up the bulk of the card's content.</p>
												<a class="card-link small" href="#">
													<i class="far fa-thumbs-up"></i> 20 Like
												</a>
											</div>
										</div>
									</section>
									<!-- comment card ends -->

								</div>
							</div>
							<!-- collapsed comments ends -->
						</footer>
						<!-- post footer ends -->
					</div>
				</section>
				<!-- beginning of the post -->
				<!-- <h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
            </p> -->
				<!-- end of the post -->
				<!-- beginning of the post -->
				<!-- <h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
            </p> -->
				<!-- end of the post -->
				<!-- beginning of the post -->
				<!-- <h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
            </p> -->
				<!-- end of the post -->
			</div>
		</div>
	</div>

	<!-- bootstrap scripts -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
		integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
		crossorigin="anonymous"></script>
</body>

</html>