<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/img/logo-white.png" rel="icon">

    <title>post Details</title>
    <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- ==================== IF THE USER IS AUTHENTICATED ===================== -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" media="all" href="/assets/css/profile1.css" id="main-crayons-stylesheet" />
    <link rel="stylesheet" media="all" href="/assets/css/profile2.css" id="main-minimal-stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/navbar.css" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/scrollbar.css">
    <link rel="stylesheet" href="/assets/css/button.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" /> -->

    <title>Test2</title>


    <style>
        textarea {
            border: none;
            background-color: transparent;
            resize: none;
            outline: none;
        }
        
        .h7 {
            font-size: 0.9rem
        }
        
        .sectional-wrapper {
            margin-bottom: 80px;
            padding-top: 20px;
        }
        
        .sectional-wrapper .sub-header h1 {
            font-family: 'Open Sans', sans-serif;
            font-size: 35px;
            font-weight: bold;
            padding-bottom: 20px;
            text-transform: uppercase;
        }
        
        .h2,
        h2 {
            font-size: 30px;
            font-family: 'Open Sans', sans-serif;
        }
        
        p {
            min-height: 21px;
        }
        
        .aside-section {
            padding-top: 6px;
        }
        
        .widget {
            padding-top: 0px;
        }
        
        .widget-header {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 35px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        
        .widget {
            padding-top: 0px;
        }
        
        .widget+.widget {
            padding-top: 0px;
        }
        
        .widget {
            padding-top: 0px;
        }
        
        .widget-header {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 35px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        
        .ct-latest {
            cursor: pointer;
        }
        
        .ct-latest {
            padding: 15px 10px;
            border-top: 1px solid #e1e1e1;
            border-bottom: 1px solid #e1e1e1;
            -webkit-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
            margin-top: -1px !important;
        }
        
        .ct-latest .media-left {
            padding-right: 15px;
        }
        
        .media-body,
        .media-left,
        .media-right {
            display: table-cell;
            vertical-align: top;
        }
        
        .media img {
            max-width: none;
        }
        
        .media-body,
        .media-left,
        .media-right {
            display: table-cell;
            vertical-align: top;
        }
        
        .media-body {
            width: 10000px;
        }
        
        .ct-latest-header {
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            font-size: 17px;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 12px;
        }
        
        .media-heading {
            margin-top: 0;
            margin-bottom: 5px;
        }
        
        .ct-latest p {
            font-size: 13px;
        }
        
        .ct-latest:hover {
            background-color: #e1e1e1;
        }
        
        a {
            color: #4F4F99;
        }
        
        a,
        a:hover,
        a:focus,
        a:active {
            text-decoration: none;
            color: inherit;
        }
        /*nav {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            height: 100%;
        }*/
        
        nav.sidebar a {
            padding: 10px;
            font-size: 30px;
            width: 55px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #212529;
        }
        
        nav.sidebar a.blue {
            color: var(--blue);
        }
        
        nav.sidebar a:hover {
            background-color: var(--buttonHoverBg);
            color: var(--blue);
            border-radius: 50%;
        }
        
        #submitPostButton:disabled {
            border: 1px solid #999999;
            background-color: #cccccc;
            color: #666666;
            cursor: not-allowed;
        }
        
        button svg,
        button span {
            pointer-events: none;
        }
        
        .postButtonContainer.red button.active {
            color: red;
        }
        
        button:focus {
            outline: none;
        }
        
        .replyFlag a {
            color: blue
        }
    </style>

    <!-- ================== END ====================== -->
</head>

<body>
    <%- include('../layouts/navbar.ejs') %>

        <!-- ===================== IF THE USER IS AUTHENTICATED =================== -->
        <!-- GRID SYSTEM -->
        <div class="my-2 container-fluid">
            <div class="row">
                <div class="mb-2 col-md-2 d-none d-md-block ">
                    <nav class="col-2 sidebar">
                        <!-- <a class="blue" href="/"><i class="fas fa-dove"></i></a> -->
                        <a href="/"><i class="fas fa-home"></i></a>
                        <a href="/search"><i class="fas fa-search"></i></a>
                        <a href="/notifications"><i class="fas fa-bell"></i></a>
                        <a href="/messages"><i class="fas fa-envelope"></i></a><a href="/profile"><i
                                class="fas fa-user"></i></a>
                        <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
                    </nav>

                    <!-- let the coloumn take the rest of available space and in small devicec it'll occupy 9 column when the news disappers-->
                </div>
                <div class="col-lg-6 col-md-10 postContent">
                    <!-- post detail -->
                </div>
                <div class="col-lg-4 col-md-4 col-xl-4 d-none d-lg-block d-lg-none">
                    <!-- maybe latest news -->
                </div>
            </div>

            <!-- post comments modal -->
            <div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="replyModalLabel">Reply</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                            <div id="originalPostContainer"></div>
                            <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                                <div class="form-group">
                                    <label class="sr-only" for="post">post</label>
                                    <textarea style="resize: none;height:100px" class="form-control" name="reply" id="reply" rows="3" placeholder="What are you thinking..." required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="submitReplyButton" type="button" class="btn btn-primary" disabled>Reply</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- post delete modal -->
            <div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="deletePostModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deletePostModalLabel">Delete the post?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                        </div>
                        <div class="modal-body">
                            <p>You won't be able to delete this.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button id="deletePostButton" type="button" class="btn btn-primary">Delete</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="/assets/vendor/jquery/jquery.min.js"></script>
            <script src="/bootstrap/js/bootstrap.min.js"></script>
            <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

            <!-- <script src="/https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script> -->

            <script>
                /* eslint-disable */
                var postId = <%- JSON.stringify(postId) %>
                var userLoggedIn = <%- JSON.stringify(user) %>
            </script>
            <script src="/js/common.js"></script>
            <script src="/js/postPage.js"></script>

</body>

</html>