<div class="mb-2 col-md-3">
    <div class="card">
        <div class="card-body">
            <h3>
                Dashboard
            </h3>
            <div class="flex items-center mb-4">
                <a href="/admin/dashboard/users">

                    <span style="display: inline-block; margin-right: 3px;">
                        <h4>
                            <i style="margin-right: 16px;" class="far fa-user"></i>
                            Users
                        </h4>
                    </span>
                </a>
            </div>
            
            
            <div class="flex items-center mb-4">
                <a href="/admin/dashboard/feedback">

                    <span style="display: inline-block; margin-right: 3px;">
                        <h4>
                            <i style="margin-right: 14px;" class="fab fa-accusoft"></i>
                           Feedback
                        </h4>
                    </span>
                </a>
            </div>
           
            <div class="flex items-center mb-4">
                <a href="/admin/dashboard/posts">
                    <h4>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" role="img" aria-labelledby="ae4j6bgaqcnm49u8u3eqcdkwttibhj9s" class="mr-3 crayons-icon color-base-50">
                            <title id="ae4j6bgaqcnm49u8u3eqcdkwttibhj9s">Post</title>
                            <path
                                d="M19 22H5a3 3 0 01-3-3V3a1 1 0 011-1h14a1 1 0 011 1v12h4v4a3 3 0 01-3 3zm-1-5v2a1 1 0 002 0v-2h-2zm-2 3V4H4v15a1 1 0 001 1h11zM6 7h8v2H6V7zm0 4h8v2H6v-2zm0 4h5v2H6v-2z">
                            </path>
                        </svg> Posts
                    </h4>
                </a>
            </div>
            <div class="flex items-center">
                <a href="/admin/dashboard/roadmaps">

                    <span style="display: inline-block; margin-right: 3px;">
                        <h4>
                            <i style="margin-right: 16px;" class="fas fa-road"></i>
                            Roadmaps
                        </h4>
                    </span>
                </a>
            </div>
           <br>
            <div class="flex items-center">
                <a href="/admin/dashboard/topics">

                    <span style="display: inline-block; margin-right: 3px;">
                        <h4>
                            <i style="margin-right: 16px;" class="fab fa-accusoft"></i>
                           All Topics
                        </h4>
                    </span>
                </a>
            </div>
        
        </div>
    </div>
</div>