<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page not found</title>
    <link href="assets/img/logo-white.png" rel="icon">


    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- !FONT AWESOME ONLINE -->
    <!-- Google Fonts -->

    <!-- Vendor CSS Files -->
    <!-- <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- <link href="assets/css/slider.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link href="assets/css/navbar.css" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/scrollbar.css">

    <style>
        pre code {
            background-color: rgb(195, 243, 177);
            border: 1px solid #999;
            display: block;
            padding: 2px;
        }
    </style>
</head>

<body>
    <%- include('./layouts/navbar.ejs') %>

    <h1>Page not found!</h1>
        <!-- footer -->

            <script src="/assets/vendor/jquery/jquery.min.js"></script>
            <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
