<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Topic</title>
    <link href="assets/img/logo-white.png" rel="icon">


    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- !FONT AWESOME ONLINE -->
    <!-- Google Fonts -->

    <!-- Vendor CSS Files -->
    <!-- <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <!-- <link href="assets/css/slider.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link href="assets/css/navbar.css" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/scrollbar.css">

    <style>
        pre code {
            background-color: rgb(195, 243, 177);
            border: 1px solid #999;
            display: block;
            padding: 2px;
        }
    </style>
</head>

<body>
    <%- include('./layouts/navbar.ejs') %>
<br>
        <!-- beginning of main section -->
        <main id="main">


            <section id="services" class="services mb-5">
                <div class="container">

                    <div class="section-title">
                        <h2>HTML</h2>
                        <h4>Hypertext Markup Language is the standard markup language for documents designed to be
                            displayed
                            in a web browser. It can be assisted by technologies such as Cascading Style Sheets (CSS)
                            and
                            scripting languages such as JavaScript. </h4>
                    </div>
                    <pre>
                    <code>
                    <&nbsp;html>
                        <&nbsp;head>
                            <&nbsp;body>
                            <&nbsp;h1>Html<&nbsp;/h1>
                            <&nbsp;body>
                        <&nbsp;head>
                    <&nbsp;html>

                    </code>
                </pre>
                    <div class="section-title">
                        <h2>Refernces</h2>
                    </div>
                    <div class="row">

                        <div class="col-lg-6 col-md-6 d-flex col-sm-6 col-xs-12 align-items-stretch list-group">
                            <a href="#" class="list-group-item list-group-item-action">
                                HTML Cheat Sheet
                            </a>
                            <a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/HTML_basics"
                                target="_blank" class="list-group-item list-group-item-action">HTML Article
                            </a>
                            <a href="https://marksheet.io/" class="list-group-item list-group-item-action">HTML Basics
                            </a>
                            <a href="https://learn.shayhowe.com/" class="list-group-item list-group-item-action">HTML
                                Reference
                            </a>
                            <!-- <a href="https://bitsofco.de/linting-html-using-css/"
                                class="list-group-item list-group-item-action disabled">Vestibulum at eros</a> -->
                        </div>

                    </div>

            </section>

        </main>
        <!-- footer -->
        <%- include('./layouts/footer.ejs') %>


            <script src="/assets/vendor/jquery/jquery.min.js"></script>
            <script src="/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
