<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RoadMaps-details</title>
    <!-- <link href="style.css" rel="stylesheet"> -->


    <!-- ==================== IF IT'S NOT AUTHENTICATED ===================== -->
    <!-- landig page scripts and links -->
    <!-- Favicons -->
    <!-- <link href="assets/img/favicon.png" rel="icon"> -->
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <!-- <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/slider.css" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

    <link href="roadmap-details-2.css" rel="stylesheet">
    <link href="roadmap-details.css" rel="stylesheet">
    <link href="assets/css/style1.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">


</head>

<body>
    <nav class="navbar navbar-expand-sm d-block navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ZERO > ONE</a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="hvr-underline-from-center">
                        <a class="nav-link" href="#">Timeline</a>
                    </li>
                    <li class="hvr-underline-from-center">
                        <a class="nav-link" href="#">News</a>
                    </li>
                    <li class="hvr-underline-from-center">
                        <a class="nav-link" href="#">Roadmaps</a>
                    </li>
                    <li class="hvr-underline-from-center">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="hvr-underline-from-center">
                        <a class="nav-link" href="#">login</a>
                    </li>
                    <li class="hvr-underline-from-center">
                        <a class="nav-link" href="#">Get Started</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <section id="experience" class="section">
        <div class="container">
            <!-- SECTION TITLE -->
            <div class="section-title" style="height: 300px;">
                <h1 style="text-align: center; font-size: 50px; color: #06A763;">Front End Development</h1>
                <P style="font-size: 25px;text-align: justify; margin-bottom: 20px;">Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. Adipisci, tempora velit minus soluta ex numquam maxime eligendi ea
                    alias atque! Minima quas sunt necessitatibus iure expedita veniam. Perferendis incidunt atque in
                    voluptatum animi, facilis expedita consequatur nostrum labore nulla. Sunt quia modi porro, sequi
                    asperiores eligendi aperiam quis odit ducimus!</P>


            </div>

            <div id="timeline-experience">

                <!-- FIRST TIMELINE -->
                <div class="timeline-block">
                    <!-- DOT -->
                    <a href="html.html">
                        <div class="timeline-dot">
                            <h6>1</h6>
                        </div>
                    </a>
                    <!-- TIMELINE CONTENT -->
                    <div class="card timeline-content">
                        <a>
                            <div class="card-content">
                                <!-- TIMELINE TITLE -->
                                <a href="./topic.html">
                                    <h6 class="timeline-title head">Html</h6>
                                </a>
                                <!-- TIMELINE TITLE INFO -->
                                <div class="timeline-info">

                                </div>
                                <!-- TIMELINE PARAGRAPH -->
                                <p>
                                    I started my designing carrier here, spent tow years learning and working
                                    in various designing aspects..
                                </p>
                                <!-- BUTTON TRIGGER MODAL -->
                                <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-4">
                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                </a>
                            </div>
                        </a>
                    </div>
                </div>



                <!-- SECOND TIMELINE -->
                <div class="timeline-block">
                    <!-- DOT -->
                    <div class="timeline-dot">
                        <h6>2</h6>
                    </div>
                    <!-- TIMELINE CONTENT -->
                    <div class="card timeline-content">
                        <a>
                            <div class="card-content">
                                <!-- TIMELINE TITLE -->
                                <h6 class="timeline-title head">Css</h6>
                                <!-- TIMELINE TITLE INFO -->
                                <div class="timeline-info">

                                </div>
                                <!-- TIMELINE PARAGRAPH -->
                                <p>
                                    I started my frontend carrier here, spent tow years learning and working
                                    in various frontend aspects. I worked on about 40+ projects local and online.
                                </p>

                            </div>
                        </a>
                    </div>
                </div>



                <!-- THIRD TIMELINE -->
                <div class="timeline-block">
                    <!-- DOT -->
                    <div class="timeline-dot">
                        <h6>3</h6>
                    </div>
                    <!-- TIMELINE CONTENT -->
                    <div class="card timeline-content">

                        <a>
                            <div class="card-content">
                                <!-- TIMELINE TITLE -->
                                <h6 class="timeline-title head">UI/UX Expert</h6>
                                <!-- TIMELINE TITLE INFO -->
                                <div class="timeline-info">

                                </div>
                                <!-- TIMELINE PARAGRAPH -->
                                <p>
                                    I started my expertise carrier here, spent tow years learning and working
                                    in various UX/UI aspects. I worked on about 70+ projects local and online.
                                </p>

                            </div>
                        </a>
                    </div>
                </div>

                <!-- FOURTH TIMELINE -->
                <div class="timeline-block">
                    <!-- DOT -->
                    <div class="timeline-dot">
                        <h6>4</h6>
                    </div>
                    <!-- TIMELINE CONTENT -->
                    <div class="card timeline-content">
                        <a>
                            <div class="card-content">
                                <!-- TIMELINE TITLE -->
                                <h6 class="timeline-title head">Senior Developer</h6>
                                <!-- TIMELINE TITLE INFO -->
                                <div class="timeline-info">

                                </div>
                                <!-- TIMELINE PARAGRAPH -->
                                <p>
                                    I recently joined here, currently working on various development
                                    aspects. I already worked on about..
                                </p>
                                <!-- BUTTON TRIGGER MODAL -->
                                <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-5">
                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                </a>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- THIRD TIMELINE -->
                <div class="timeline-block">
                    <!-- DOT -->
                    <div class="timeline-dot">
                        <h6>5</h6>
                    </div>
                    <!-- TIMELINE CONTENT -->
                    <div class="card timeline-content">

                        <a>
                            <div class="card-content">
                                <!-- TIMELINE TITLE -->
                                <h6 class="timeline-title head">UI/UX Expert</h6>
                                <!-- TIMELINE TITLE INFO -->
                                <div class="timeline-info">

                                </div>
                                <!-- TIMELINE PARAGRAPH -->
                                <p>
                                    I started my expertise carrier here, spent tow years learning and working
                                    in various UX/UI aspects. I worked on about 70+ projects local and online.
                                </p>

                            </div>
                        </a>
                    </div>
                </div>


                <!-- FOURTH TIMELINE -->
                <div class="timeline-block">
                    <!-- DOT -->
                    <div class="timeline-dot">
                        <h6>6</h6>
                    </div>
                    <!-- TIMELINE CONTENT -->
                    <div class="card timeline-content ">
                        <a href="#">
                            <div class="card-content">
                                <!-- TIMELINE TITLE -->
                                <h6 class="timeline-title head">Senior Developer</h6>
                                <!-- TIMELINE TITLE INFO -->
                                <div class="timeline-info">


                                </div>
                                <!-- TIMELINE PARAGRAPH -->
                                <p>
                                    I recently joined here, currently working on various development
                                    aspects. I already worked on about..
                                </p>
                                <!-- BUTTON TRIGGER MODAL -->
                                <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-5">
                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                </a>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- THIRD TIMELINE -->
                <div class="timeline-block">
                    <!-- DOT -->
                    <div class="timeline-dot">
                        <h6>7</h6>
                    </div>
                    <!-- TIMELINE CONTENT -->
                    <a href="#">
                        <div class="card timeline-content">
                            <a href="#">
                                <div class="card-content">
                                    <!-- TIMELINE TITLE -->
                                    <h6 class="timeline-title head">UI/UX Expert</h6>
                                    <!-- TIMELINE TITLE INFO -->
                                    <div class="timeline-info">

                                    </div>
                                    <!-- TIMELINE PARAGRAPH -->
                                    <p>
                                        I started my expertise carrier here, spent tow years learning and working
                                        in various UX/UI aspects. I worked on about 70+ projects local and online.
                                    </p>

                                </div>
                            </a>
                        </div>
                    </a>
                </div>


                <!-- FOURTH TIMELINE -->
                <div class="timeline-block">
                    <!-- DOT -->
                    <div class="timeline-dot">
                        <h6>8</h6>
                    </div>
                    <!-- TIMELINE CONTENT -->
                    <div class="card timeline-content">
                        <a href="#">
                            <div class="card-content">
                                <!-- TIMELINE TITLE -->
                                <h6 class="timeline-title head">Senior Developer</h6>
                                <!-- TIMELINE TITLE INFO -->
                                <div class="timeline-info">

                                </div>
                                <!-- TIMELINE PARAGRAPH -->
                                <p>
                                    I recently joined here, currently working on various development
                                    aspects. I already worked on about..
                                </p>
                                <!-- BUTTON TRIGGER MODAL -->
                                <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-5">
                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                </a>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <footer id="footer">

        <div class="footer-newsletter" data-aos="fade-up">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h4>Join Our Zero2One</h4>
                        <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="footer-top">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-contact" data-aos="fade-up" data-aos-delay="100">
                        <h3>Zero2One</h3>
                        <p>
                            A108 Adam Street <br>
                            New York, NY 535022<br>
                            United States <br><br>
                            <strong>Phone:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="200">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="300">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="400">
                        <h4>Our Social Networks</h4>
                        <p>Cras fermentum odio eu feugiat lide par naso tierra videa magna derita valies</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container py-4">
            <div class="copyright">
                &copy; Copyright <strong><span>Zero2One</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/ninestars-free-bootstrap-3-theme-for-creative/ -->

                Designed by <a href="#">Zero2One</a>
            </div>
        </div>
    </footer>

    <script src="jquery.js"></script>
    <script src="./assets/vendor/jquery/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
