<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Search</title>
    <link href="/img/logo-white.png" rel="icon">

    <link rel="stylesheet" href="/assets/css/search.css">
    <!-- Vendor CSS Files -->
    <!-- <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link href="/assets/css/navbar.css" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/scrollbar.css">

</head>

<body>
    <%- include('./layouts/navbar.ejs') %>

        <!-- partial:index.partial.html -->
        <form class="mt-4 form-search" method="POST" action="/search/posts">
            <input id="search" type="search" name="search" placeholder="find your needs here">
            <button type="submit">Search</button>
        </form>
        <a href="/search">want to search for users ?</a>
        <div id="match-list" class="container"></div>

        <!--===================================== profile test ====================================-->
        <!-- <div class="container">
            <div class="well well-sm card">
                <div class="media">
                    <a class="thumbnail pull-left" href="#">
                        <img class="avatar rounded-circle avatar-lg" src="http://placehold.it/80">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">John Doe</h4>
                        <p><span class="label label-info">10 photos</span> <span class="label label-primary">89
                                followers</span></p>
                        <p>
                            <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-comment"></span>
                                Message</a>
                            <a href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-heart"></span>
                                Favorite</a>
                            <a href="#" class="btn btn-xs btn-default"><span
                                    class="glyphicon glyphicon-ban-circle"></span>
                                Unfollow</a>
                        </p>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- ================================== end test ===================================== -->

        <script src="/assets/vendor/jquery/jquery.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>

        <script>
            $(document).ready(function () {
                $('#search').on('input', function (e) {
                    const searchText = $('#search').val() || null;
                    console.log(searchText)
                    if (searchText !== null) {
                        if (searchText.length === 0) {
                            $('#search').val() = ''
                        } else {
                            $.ajax({
                                url: '/search/posts',
                                method: 'POST',
                                dataType: "json",
                                contentType: 'application/json',
                                data: JSON.stringify({ query: searchText }),
                                success: function (response) {
                                    console.log(response.modifiedPosts)
                                    $('#match-list').html(response.modifiedPosts);
                                }
                            })
                        }
                    } else {
                        $('#match-list').html('');
                    }

                })
            })
        </script>
</body>

</html>
