<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layouts/head.ejs') %>

        <title>Search</title>

        <link rel="stylesheet" href="/assets/css/search.css">
        <link rel="stylesheet" href="/assets/css/scrollbar.css">
        <link href="/assets/css/navbar.css" rel="stylesheet">
        <link href="assets/css/style.css" rel="stylesheet">
        <link rel="stylesheet" media="all" href="/assets/css/profile1.css" id="main-crayons-stylesheet" />
        <link rel="stylesheet" media="all" href="/assets/css/profile2.css" id="main-minimal-stylesheet" />
        <link rel="stylesheet" href="/assets/css/scrollbar.css">

        <style>
            .form-search input {
                width: 90%;
            }
            
            #match-list {
                width: 70%;
            }
        </style>

</head>

<body>
    <%- include('../layouts/navbar.ejs') %>

        <!-- partial:index.partial.html -->
        <div class="container">
            <form class="mt-4 form-search" method="POST" action="/search/posts">
                <input id="submitButton" class="form-control me-2" name="query" type="text" placeholder="Search for posts" aria-label="Search">
            </form>

            <a href="/search">want to search for users ?</a>
            <div id="match-list" class="container"></div>
        </div>

        <!-- post comments modal -->
        <div class="modal fade" id="replyModal" tabindex="-1" role="dialog" aria-labelledby="replyModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="replyModalLabel">Reply</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                    </div>
                    <div class="modal-body">
                        <div id="originalPostContainer"></div>
                        <div class="tab-pane fade show active" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                            <div class="form-group">
                                <label class="sr-only" for="post">post</label>
                                <textarea style="resize: none;height:100px" class="form-control" name="reply" id="reply" rows="3" placeholder="What are you thinking..." required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="submitReplyButton" type="button" class="btn btn-primary" disabled>Reply</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- post delete modal -->
        <div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="deletePostModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deletePostModalLabel">Delete the post?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                    </div>
                    <div class="modal-body">
                        <p>You won't be able to delete this.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button id="deletePostButton" type="button" class="btn btn-primary">Delete</button>
                    </div>
                </div>
            </div>
        </div>



        <%- include('../layouts/strapAndJQuery.ejs') %>

            <script src="/js/common.js"></script>
            <script src="/js/postPage.js"></script>
            <script>
                /* eslint-disable */
                var userLoggedIn = <%- JSON.stringify(user) %>
            </script>
            <script>
                $(document).ready(function() {
                    let userId = userLoggedIn._id
                    let timer;
                    let searchText;

                    function load() {
                        let text = $('#submitButton').val() || null;
                        console.log(skip, limit);
                        $.ajax({
                            url: `/search/posts?skip=${skip}&limit=${limit}`,
                            method: 'POST',
                            dataType: "json",
                            contentType: 'application/json',
                            data: JSON.stringify({
                                query: text
                            }),
                            success: function(data) {
                                console.log(data)
                                data.posts.map(postObj => {
                                    var postHtml = createPostHtml(postObj, userId);
                                    $('#match-list').append(postHtml)
                                })
                                skip = skip + limit;
                            }
                        })
                    }
                    window.onscroll = () => {
                        if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
                            load();
                        }
                    };
                    $(window).keydown(function(event) {
                        if (event.keyCode == 13) {
                            event.preventDefault();
                            return false;
                        }
                    });

                    $('#match-list').bind('DOMSubtreeModified', function() {
                        $('.crayons-story__details').html('')
                    });

                    $('#submitButton').on('change keyup paste', function(e) {
                        clearInterval(timer)
                        searchText = $('#submitButton').val() || null;
                        console.log(searchText)
                        if (searchText !== null) {
                            if (searchText.length === 0) {
                                $('#search').val() = ''
                            } else {
                                timer = setTimeout(() => {
                                    skip = 0;
                                    limit = 10;
                                    $.ajax({
                                        url: `/search/posts?skip=${skip}&limit=${limit}`,
                                        method: 'POST',
                                        dataType: "json",
                                        contentType: 'application/json',
                                        data: JSON.stringify({
                                            query: searchText
                                        }),
                                        success: function(data) {
                                            // TODO: accept all posts
                                            // TODO: map through the array of objects
                                            // TODO: create PostHtml for each object sending obj to a function with the post and postId
                                            // TODO: append each postHtml to the div container
                                            console.log(data)
                                            if (searchText) {
                                                $('#match-list').html('');
                                            }
                                            data.posts.map(postObj => {
                                                var postHtml = createPostHtml(postObj, userId);
                                                $('#match-list').append(postHtml)
                                            })
                                            skip = skip + limit;
                                        }
                                    })

                                    trackQuery = searchText;
                                }, 1000)
                            }
                        } else {
                            $('#match-list').html('');
                        }
                    })
                })
            </script>
</body>

</html>