.button3 {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 5px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: #84a9ac;
    text-align: center;
    transition: all 0.2s;
    outline: none;
    border: none;
}

.button3:hover {
    background-color: #55818b;
}

@media all and (max-width: 30em) {
    button.button3 {
        display: block;
        margin: 0.2em auto;
    }
}