:root {
    --blue: #1fa2f1;
    --blueLight: #9bd1f9;
    --blueBackground: rgba(212, 237, 255, 0.6);
    --buttonHoverBg: #d4edff;
    --lightGrey: rgb(230, 236, 240);
    --spacing: 15px;
    --greyText: rgb(101, 119, 134);
    --greyButtonText: rgba(0, 0, 0, 0.34);
    --red: rgb(226, 34, 94);
    --redBackground: rgba(226, 34, 94, 0.1);
    --green: rgb(23, 191, 99);
    --greenBackground: rgba(23, 191, 99, 0.1);
}

html,
body {
    height: 100%;
    min-height: 100%;
    background-color: #fff;
    font-weight: 300;
}

ul {
    margin: 0;
}

.mainSectionContainer {
    padding: 0;
    border-left: 1px solid var(--lightGrey);
    border-right: 1px solid var(--lightGrey);
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.wrapper>.row {
    margin: 0;
    height: 100%;
}

.chatPageContainer {
    display: flex;
    flex-direction: column;
    min-height: 0;
    flex: 1;
    flex-basis: 0;
}

.chatTitleBar {
    border-bottom: 1px solid var(--lightGrey);
    display: flex;
    align-items: center;
    min-height: 60px;
    padding: 10px;
}

.chatTitleBar label {
    margin: 0 10px 0 0;
}

#chatName {
    width: 100%;
    border: 1px solid transparent;
    padding: 0 5px;
}

#chatName:hover {
    border: 1px solid lightgrey;
    cursor: text;
}

.mainContentContainer {
    flex: 1;
    display: flex;
    overflow-y: hidden;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.chatContainer .footer {
    display: flex;
    padding: var(--spacing);
    flex-shrink: 0px;
}

.chatContainer .footer textarea {
    flex: 1;
    resize: none;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    border: none;
    padding: 8px 12px;
    height: 38px;
}

.chatContainer .footer button {
    background-color: transparent;
    color: var(--blue);
    font-size: 24px;
}

.chatMessages {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: var(--spacing);
}

.chatImagesContainer {
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    margin-right: 10px;
}

.chatImagesContainer img {
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.chatImagesContainer .userCount {
    height: 40px;
    width: 40px;
    background-color: #f1f1f1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: 2px solid #fff;
}

.chatImagesContainer img:not(:last-child),
.chatImagesContainer .userCount {
    margin-left: -10px;
}

#chatNameTextbox {
    width: 100%;
}

.chatMessages .message {
    padding-bottom: 2px;
    list-style: none;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;
}

.typingDots img,
.chatMessages .message .messageBody {
    background-color: #f1f0f0;
    padding: 6px 12px;
    border-radius: 18px;
    font-size: 14px;
}
.typingDots img {
    height: 35px;
}

.typingDots {
    padding: var(--spacing);
    padding-bottom: 0;
    display: none;
}

.chatMessages .message .messageContainer {
    display: flex;
    flex-direction: column;
    max-width: 55%;
}

.chatMessages .message.mine .messageContainer {
    align-items: flex-end;
}

.chatMessages .message.theirs .messageContainer {
    align-items: flex-start;
}

.chatMessages .message.mine {
    flex-direction: row-reverse;
}

.chatMessages .message.mine .messageBody {
    background-color: blue;
    color: #fff;
}

.chatMessages .message.mine.first .messageBody {
    border-bottom-right-radius: 2px;
}

.chatMessages .message.mine:not(.first):not(.last) .messageBody {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

.chatMessages .message.mine.last .messageBody {
    border-bottom-right-radius: 18px;
}

.chatMessages .message.mine.last:not(.first) .messageBody {
    border-top-right-radius: 2px;
}

.chatMessages .message.theirs.first .messageBody {
    border-bottom-left-radius: 2px;
}

.chatMessages .message.theirs:not(.first):not(.last) .messageBody {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.chatMessages .message.theirs.last .messageBody {
    border-bottom-left-radius: 18px;
}

.chatMessages .message.theirs.last:not(.first) .messageBody {
    border-top-left-radius: 2px;
}

.senderName {
    color: rgba(0, 0, 0, 0.4);
}

.chatMessages .imageContainer {
    height: 24px;
    width: 24px;
    margin-right: 7px;
}

.chatMessages img {
    height: 100%;
    border-radius: 50%;
    vertical-align: bottom;
}

.chatMessages .message.last {
    margin-bottom: 7px;
}

#chatNameTextbox {
    width: 100%;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.mainSectionContainer {
    padding: 0;
    border-left: 1px solid var(--lightGrey);
    border-right: 1px solid var(--lightGrey);
    display: flex;
    flex-direction: column;
}

.titleContainer {
    height: 53px;
    padding: 0 var(--spacing);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--lightGrey);
    flex-shrink: 0;
}


/**/

.chatContainer .footer {
    display: flex;
    padding: var(--spacing);
    flex-shrink: 0px;
}

.chatContainer .footer textarea {
    flex: 1;
    resize: none;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    border: none;
    padding: 8px 12px;
    height: 38px;
}

.chatContainer .footer button {
    background-color: transparent;
    color: var(--blue);
    font-size: 24px;
}