body {
    background-color: #fff;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(14.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.py-4-center {
    background-color: #f4f7f8;
    height: 500px;
}

h3 {
    color: #009961;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .offset-md-3 {
        margin-left: 25%;
    }
}

.container form {
    max-width: 1000px;
}

.btn-block {
    display: block;
    width: 80px;
}

textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}