<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Roadmap</title>

<head>
    <link href="assets/img/logo-white.png" rel="icon">
    <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/assets/css/roadmap.css" rel="stylesheet">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link href="assets/css/navbar.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">


    <link rel="stylesheet" href="/assets/css/scrollbar.css">



    <style>
        a {
            text-decoration: none;
            color: #06A763;
        }

        .card-content h6.head {
            margin-top: 10px;
            margin-bottom: 50px;
            font-size: 24px;
            font-weight: bold;

        }

        /* .card-content p.para{

            }  */
        .timeline-block {
            margin-bottom: 80px;
        }

        @media (max-width: 767px) {
            .section-title h1 {
                font-size: 30px !important;
            }

            .section-title p {
                font-size: 17px !important;
            }

            .section-title {
                height: 400px;
            }
        }

        @media (max-width: 400px) {
            .section-title h1 {
                font-size: 30px !important;
            }

            .section-title p {
                font-size: 17px !important;
            }

            .section-title {
                height: 600px;
            }
        }

        @media (max-width: 1100px) {
            .section-title h1 {
                font-size: 30px !important;
            }

            .section-title p {
                font-size: 20px !important;
            }

            .section-title {
                height: 450px;

            }
        }
    </style>

</head>

<body>

    <!-- <div class="container border border-dark"> -->
    <%- include('../layouts/navbar.ejs') %>
        <section id="experience" class="section">
            <div class="container">
                <!-- SECTION TITLE -->
                <div class="section-title" style="height: 300px;">
                    <h1 style="text-align: center; font-size: 50px; color: #06A763;">Back-End Development</h1>
                    <P style="font-size: 25px;text-align: justify; margin-bottom:14px;">Lorem ipsum dolor sit amet,
                        consectetur adipisicing elit. Adipisci, tempora velit minus soluta. Sunt quia modi porro, sequi
                        asperiores eligendi aperiam quis odit ducimus!</P>
                </div>
                <a href="/diagram">
                    <h6 class="timeline-title head">Front-End Development</h6>
                </a> <br>
                <h1 style="text-align: center; font-size: 26px; color: #06A763;">Back-End Development</h1><br>

                <div id="timeline-experience">

                    <!-- FIRST TIMELINE -->
                    <div class="timeline-block">
                        <!-- DOT -->
                        <a href="/backend">
                            <div class="timeline-dot">
                                <h6>1</h6>
                            </div>
                        </a>
                        <!-- TIMELINE CONTENT -->
                        <div class="card timeline-content">
                            <a>
                                <div class="card-content">
                                    <!-- TIMELINE TITLE -->
                                    <a href="/backend">
                                        <h6 class="timeline-title head">Basic knowledge of frontend</h6>
                                    </a>
                                    <!-- TIMELINE TITLE INFO -->
                                    <div class="timeline-info">

                                    </div>
                                    <!-- TIMELINE PARAGRAPH -->
                                    <p>
                                        I started my designing carrier here, spent tow years learning and working
                                        in various designing aspects..
                                    </p>
                                    <!-- BUTTON TRIGGER MODAL -->
                                    <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-4">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </a>
                        </div>
                    </div>



                    <!-- SECOND TIMELINE -->
                    <div class="timeline-block">
                        <!-- DOT -->
                        <div class="timeline-dot">
                            <h6>2</h6>
                        </div>
                        <!-- TIMELINE CONTENT -->
                        <div class="card timeline-content">
                            <a>
                                <div class="card-content">
                                    <!-- TIMELINE TITLE -->
                                    <a href="/backend">
                                        <h6 class="timeline-title head">Learn a language</h6>
                                    </a>
                                    <!-- TIMELINE TITLE INFO -->
                                    <div class="timeline-info">

                                    </div>
                                    <!-- TIMELINE PARAGRAPH -->
                                    <p>
                                        I started my frontend carrier here, spent tow years learning and working
                                        in various frontend aspects. I worked on about 40+ projects local and online.
                                    </p>

                                </div>
                            </a>
                        </div>
                    </div>



                    <!-- THIRD TIMELINE -->
                    <div class="timeline-block">
                        <!-- DOT -->
                        <div class="timeline-dot">
                            <h6>3</h6>
                        </div>
                        <!-- TIMELINE CONTENT -->
                        <div class="card timeline-content">

                            <a>
                                <div class="card-content">
                                    <!-- TIMELINE TITLE -->
                                    <a href="/backend">
                                        <h6 class="timeline-title head">Basic usage of git </h6>
                                    </a>

                                    <!-- TIMELINE TITLE INFO -->
                                    <div class="timeline-info">

                                    </div>
                                    <!-- TIMELINE PARAGRAPH -->
                                    <p>
                                        I started my expertise carrier here, spent tow years learning and working
                                        in various UX/UI aspects. I worked on about 70+ projects local and online.
                                    </p>

                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- FOURTH TIMELINE -->
                    <div class="timeline-block">
                        <!-- DOT -->
                        <div class="timeline-dot">
                            <h6>4</h6>
                        </div>
                        <!-- TIMELINE CONTENT -->
                        <div class="card timeline-content">
                            <a>
                                <div class="card-content">
                                    <!-- TIMELINE TITLE -->

                                    <a href="/backend">
                                        <h6 class="timeline-title head">Learn more about databases</h6>
                                    </a>

                                    <!-- TIMELINE TITLE INFO -->
                                    <div class="timeline-info">

                                    </div>
                                    <!-- TIMELINE PARAGRAPH -->
                                    <p>
                                        I recently joined here, currently working on various development
                                        aspects. I already worked on about..
                                    </p>
                                    <!-- BUTTON TRIGGER MODAL -->
                                    <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-5">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- THIRD TIMELINE -->
                    <div class="timeline-block">
                        <!-- DOT -->
                        <div class="timeline-dot">
                            <h6>5</h6>
                        </div>
                        <!-- TIMELINE CONTENT -->
                        <div class="card timeline-content">

                            <a>
                                <div class="card-content">
                                    <!-- TIMELINE TITLE -->
                                    <a href="/backend">
                                        <h6 class="timeline-title head">APIs</h6>
                                    </a>
                                    <!-- TIMELINE TITLE INFO -->
                                    <div class="timeline-info">

                                    </div>
                                    <!-- TIMELINE PARAGRAPH -->
                                    <p>
                                        I started my expertise carrier here, spent tow years learning and working
                                        in various UX/UI aspects. I worked on about 70+ projects local and online.
                                    </p>

                                </div>
                            </a>
                        </div>
                    </div>


                    <!-- FOURTH TIMELINE -->
                    <div class="timeline-block">
                        <!-- DOT -->
                        <div class="timeline-dot">
                            <h6>6</h6>
                        </div>
                        <!-- TIMELINE CONTENT -->
                        <div class="card timeline-content ">
                            <a href="/backend">
                                <div class="card-content">
                                    <!-- TIMELINE TITLE -->
                                    <h6 class="timeline-title head">Web security knowledge</h6>
                                    <!-- TIMELINE TITLE INFO -->
                                    <div class="timeline-info">


                                    </div>
                                    <!-- TIMELINE PARAGRAPH -->
                                    <p>
                                        I recently joined here, currently working on various development
                                        aspects. I already worked on about..
                                    </p>
                                    <!-- BUTTON TRIGGER MODAL -->
                                    <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-5">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </a>
                        </div>
                    </div>

                    <!-- THIRD TIMELINE -->
                    <div class="timeline-block">
                        <!-- DOT -->
                        <div class="timeline-dot">
                            <h6>7</h6>
                        </div>
                        <!-- TIMELINE CONTENT -->
                        <a href="#">
                            <div class="card timeline-content">
                                <a href="/backend">
                                    <div class="card-content">
                                        <!-- TIMELINE TITLE -->
                                        <h6 class="timeline-title head">Caching</h6>
                                        <!-- TIMELINE TITLE INFO -->
                                        <div class="timeline-info">

                                        </div>
                                        <!-- TIMELINE PARAGRAPH -->
                                        <p>
                                            I started my expertise carrier here, spent tow years learning and working
                                            in various UX/UI aspects. I worked on about 70+ projects local and online.
                                        </p>

                                    </div>
                                </a>
                            </div>
                        </a>
                    </div>
                    <!-- THIRD TIMELINE -->
                    <div class="timeline-block">
                        <!-- DOT -->
                        <div class="timeline-dot">
                            <h6>8</h6>
                        </div>
                        <!-- TIMELINE CONTENT -->
                        <a href="#">
                            <div class="card timeline-content">
                                <a href="/backend">
                                    <div class="card-content">
                                        <!-- TIMELINE TITLE -->
                                        <h6 class="timeline-title head">Testing</h6>
                                        <!-- TIMELINE TITLE INFO -->
                                        <div class="timeline-info">

                                        </div>
                                        <!-- TIMELINE PARAGRAPH -->
                                        <p>
                                            I started my expertise carrier here, spent tow years learning and working
                                            in various UX/UI aspects. I worked on about 70+ projects local and online.
                                        </p>

                                    </div>
                                </a>
                            </div>
                        </a>
                    </div>


                    <!-- FOURTH TIMELINE -->
                    <div class="timeline-block">
                        <!-- DOT -->
                        <div class="timeline-dot">
                            <h6>9</h6>
                        </div>
                        <!-- TIMELINE CONTENT -->
                        <div class="card timeline-content">
                            <a href="/backend">
                                <div class="card-content">
                                    <!-- TIMELINE TITLE -->
                                    <h6 class="timeline-title head">CI/CD</h6>
                                    <!-- TIMELINE TITLE INFO -->
                                    <div class="timeline-info">

                                    </div>
                                    <!-- TIMELINE PARAGRAPH -->
                                    <p>
                                        I recently joined here, currently working on various development
                                        aspects. I already worked on about..
                                    </p>
                                    <!-- BUTTON TRIGGER MODAL -->
                                    <a href="#" class="modal-dot" data-toggle="modal" data-target="#myModal-5">
                                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../layouts/footer.ejs') %>



            <script src="/assets/vendor/jquery/jquery.min.js"></script>
            <script src="/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
