<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Roadmaps</title>
    <!-- <link href="style.css" rel="stylesheet"> -->


    <!-- ==================== IF IT'S NOT AUTHENTICATED ===================== -->
    <!-- landig page scripts and links -->
    <!-- Favicons -->
    <!-- <link href="assets/img/favicon.png" rel="icon"> -->
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link href="assets/css/navbar.css" rel="stylesheet">


    <!-- <link href="assets/css/navbar.css" rel="stylesheet"> -->

</head>

<body>
    <%- include('../layouts/navbar.ejs') %>
   
  
   <br>
    <!-- beginning of main section -->
    <main id="main">


        <section id="services" class="services mb-5">
            <div class="container">

                <div class="section-title">
                    <h2>Road Maps</h2>
                    <h4>We are provide a collection of road maps to give a lot of knowledge </h4>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex col-sm-6 col-xs-12 align-items-stretch">
                        <a href="/diagram">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bxl-dribbble"></i></div>
                                <h4>Web Development</h4>
                                <p>Web development is the work involved in developing a Web site for the Internet (World
                                    Wide Web) or an intranet (a private network).</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex col-sm-6 col-xs-12 align-items-stretch mt-4 mt-md-0">
                        <a href="./roadmap-details.html">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-file"></i></div>
                                <h4><a href="">Bioinformatics</a></h4>
                                <p>Bioinformatics is an interdisciplinary field that develops methods and software tools
                                    for
                                    understanding biological data, in particular when the data sets are large and
                                    complex.
                                </p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex col-sm-6 col-xs-12 align-items-stretch mt-4 mt-lg-0">
                        <a href="./roadmap-details.html">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-tachometer"></i></div>
                                <h4><a href="">Game Development</a></h4>
                                <p>Game development is the process of developing a video game. The effort is undertaken
                                    by a
                                    developer, ranging from a single person to an international team dispersed across
                                    the
                                    globe.</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 d-flex align-items-stretch mt-4">
                        <a href="./roadmap-details.html">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-world"></i></div>
                                <h4><a href="">Python</a></h4>
                                <p>Python is an interpreted, high-level and general-purpose programming language. </p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 d-flex align-items-stretch mt-4">
                        <a href="./roadmap-details.html">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-slideshow"></i></div>
                                <h4><a href="">Artificial Intelligence</a></h4>
                                <p>Artificial intelligence (AI), is intelligence demonstrated by machines, unlike the
                                    natural intelligence displayed by humans and animals, which involves consciousness
                                    and
                                    emotionality</p>
                            </div>
                        </a>
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 d-flex align-items-stretch mt-4">
                        <a href="./roadmap-details.html">
                            <div class="icon-box">
                                <div class="icon"><i class="bx bx-arch"></i></div>
                                <h4><a href="">Javascript</a></h4>
                                <p>JS is a programming language that conforms to the ECMAScript specification.[7]
                                    JavaScript
                                    is high-level, often just-in-time compiled, and multi-paradigm.</p>
                            </div>
                        </a>
                    </div>

                </div>

        </section>
        <!-- End Services Section -->
        <!-- ======= Faq Section ======= -->

        <!-- End Faq Section -->

        <!-- ======= Contact Section ======= -->

    </main>
    <!-- footer -->
    <%- include('../layouts/footer.ejs') %>

    <script src="./assets/vendor/jquery/jquery.min.js"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
